/* 引入本地中文字体 */
@font-face {
    font-family: 'MyChineseFont';
    src: url('../Font/HONORSansCN-DemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

/* 引入本地英文字体 */
@font-face {
    font-family: 'MyEnglishFont';
    src: url('../Font/NeueMetana-Black.otf');
    font-weight: normal;
    font-style: normal;
}

/* 引入本地字体 */
@font-face {
    font-family: 'CustomFont';
    src: url('../Font/HONORSansCN-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 设置指定类的字体 */
.custom-text.custom-text-1-1,
.custom-text.custom-text-1-2,
.custom-text.custom-text-3-1,
.custom-text.custom-text-3-2,
.custom-button {
    font-family: 'CustomFont', sans-serif;
}

/* 引入本地字体 */
@font-face {
    font-family: 'youjiandizhi';
    src: url('../Font/HONORSansCN-DemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 设置指定类的字体 */
.custom-text.custom-text-2-1,
.custom-text.custom-text-2-2,
.custom-text.custom-text-4-1 {
    font-family: 'youjiandizhi', sans-serif;
}

/* 跟随鼠标的圆形样式 */
#follow-circle {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.image-section-title {
    width: 100%;
    text-align: left;
}

.image-section-title:nth-child(2) h2 {
    margin: 0;
    color: white;
    max-width: 1100px;
    word-wrap: break-word;
}

/* 第一个标题的自定义样式 */
.custom-title-1 {
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.image-section-title:nth-child(3) h2 {
    margin: 0;
    color: white;
    max-width: 1500px;
    word-wrap: break-word;
}

/* 第二个标题的自定义样式 */
.custom-title-2 {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 180px;
}

img {
    border-radius: 10px;
    margin: 20px 50px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.logo-container {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    margin: 0;
}

.logo-container a {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.logo-container img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
    height: auto;
}

/* 中文字体样式 */
.chinese-font {
    font-family: 'MyChineseFont', serif;
    font-size: 52px;
}

/* 英文字体样式 */
.english-font {
    font-family: 'MyEnglishFont', sans-serif;
    font-size: 42px;
}

/* 四个文案的容器样式，使用 grid 布局 */
.custom-text-container {
    display: grid;
    grid-template-columns: 150px 500px 1fr 150px 2fr; /* 自定义每列宽度 */
    grid-gap: 20px; /* 控制网格项之间的间距 */
    width: 100%;
    margin-bottom: 20px;
}

/* 每个文案的通用样式 */
.custom-text {
    color: white;
    text-align: left;
    box-sizing: border-box;
}

/* 文案的独立样式 */
.custom-text-1-1,
.custom-text-1-2 {
    font-size: 16px;
}

.custom-text-2-1,
.custom-text-2-2 {
    font-size: 35px;
}

.custom-text-3-1,
.custom-text-3-2 {
    font-size: 16px;
}

.custom-text-4-1,
.custom-text-4-2 {
    font-size: 35px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

/* 为 text-1-2, text-2-2, text-3-2 添加上方间距 */
.custom-text.custom-text-1-2,
.custom-text.custom-text-2-2,
.custom-text.custom-text-3-2 {
    margin-top: 100px;
}

/* 按钮容器样式 */
.custom-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
}

/* 按钮样式 */
.custom-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.custom-button:hover {
    background-color: white;
    color: black;
}

.custom-text-container a {
    text-decoration: none;
}

.custom-text-container a:hover {
    text-decoration: underline;
}

/* 鼠标悬停时 custom-text-2-1 和 custom-text-2-2 文本颜色变为蓝色 */
.custom-text.custom-text-2-1:hover,
.custom-text.custom-text-2-2:hover {
    color: blue;
}
/* 字符从下面出现的动画 */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 应用动画的类 */
.slide-up-char {
    display: inline-block;
    animation: slide-up 0.3s ease forwards;
    opacity: 0;
}
