/* 引入本地中文字体 */
@font-face {
    font-family: 'MyChineseFont'; /* 自定义中文字体名称 */
    src: url('../Font/HONORSansCN-DemiBold.ttf'); /* 相对路径，当前目录下的 Font 文件夹 */
    font-weight: normal;
    font-style: normal;
}


/* 引入本地英文字体 */
@font-face {
    font-family: 'MyEnglishFont'; /* 自定义英文字体名称 */
    src: url('../Font/NeueMetana-Black.otf'); /* 相对路径，当前目录下的 Font 文件夹 */
    font-weight: normal;
    font-style: normal;
}

/* 跟随鼠标的圆形样式 */
#follow-circle {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none; /* 避免影响鼠标事件 */
    z-index: 9999; /* 确保圆形显示在最上层 */
    mix-blend-mode: difference; /* 设置图层模式为差值 */
}

.image-section-title {
    width: 100%;
    text-align: left;
}

.image-section-title:nth-child(2) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1100px; /* 设置最大宽度为 1100px */
    word-wrap: break-word; /* 允许单词内换行 */
}

/* 第一个标题的自定义样式 */
.custom-title-1 {
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.image-section-title:nth-child(3) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1500px; /* 设置最大宽度为 1500px */
    word-wrap: break-word; /* 允许单词内换行 */
}

/* 第二个标题的自定义样式 */
.custom-title-2 {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 180px;
}

img {
    border-radius: 10px; /* 设置图片圆角 */
    /* 修改上下边距为 20px，左右边距为 50px */
    margin: 20px 50px; 
    /* 确保内边距和边框包含在元素的总宽度和高度内 */
    box-sizing: border-box;
    /* 自动缩放图片，在满足左右边距后再决定缩放 */
    width: calc(100% - 20px); /* 减去左右边距的总和 */
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}




.logo-container {
    width: 100%;
    text-align: left;
    /* 可根据需求调整 logo 容器的内边距 */
    padding: 10px 0; 
    /* 可根据需求调整 logo 容器的外边距 */
    margin: 0; 
}

.logo-container a {
    display: inline-block;
    /* 可根据需求调整链接的内边距 */
    padding: 0; 
    /* 可根据需求调整链接的外边距 */
    margin: 0; 
}

.logo-container img {
    /* 可根据需求调整图片的上下外边距 */
    margin-top: 10px; 
    margin-bottom: 10px;
    /* 可根据需求调整图片的左右外边距 */
    margin-left: 0; 
    margin-right: 0;
    /* 可根据需求调整图片的上下内边距 */
    padding-top: 0; 
    padding-bottom: 0;
    /* 可根据需求调整图片的左右内边距 */
    padding-left: 0; 
    padding-right: 0;
    /* 自定义 logo 的宽度 */
    width: 60px; 
    /* 自定义 logo 的高度 */
    height: auto; 
    /* 或者使用 max-width 和 max-height 来控制最大尺寸 */
    /* max-width: 200px; */
    /* max-height: 200px; */
}

/* 中文字体样式 */
.chinese-font {
    font-family: 'MyChineseFont', serif; /* 使用自定义中文字体 */
    font-size: 52px; /* 中文大小 */
}

/* 英文字体样式 */
.english-font {
    font-family: 'MyEnglishFont', sans-serif; /* 使用自定义英文字体 */
    font-size: 42px; /* 英文大小 */
}

.image-section-title:nth-child(5) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1100px; /* 设置最大宽度为 1100px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第二个标题的自定义样式 */
.new-custom-title-1 {
    font-size: 32px;
    margin-top: 180px;
    margin-bottom: 60px;
}
.image-section-title:nth-child(6) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1500px; /* 设置最大宽度为 1500px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第三个标题的自定义样式 */
.new-custom-title-2 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 180px;
}

/* 正方形图片容器样式 */
.square-images-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin: 20px 20px; /* 与上方图片的外边距保持一致 */
    box-sizing: border-box; 
}

.square-images-container img {
    border-radius: 10px; 
    box-sizing: border-box; 
    width: calc((100% - 20px) / 3); /* 考虑图片间距，计算每个图片的宽度 */
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    margin: 0; /* 重置图片自身的外边距，由容器统一控制 */
}


.image-section-title:nth-child(8) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1100px; /* 设置最大宽度为 1100px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第二个标题的自定义样式 */
.new-custom-title-3 {
    font-size: 32px;
    margin-top: 180px;
    margin-bottom: 60px;
}
.image-section-title:nth-child(9) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1500px; /* 设置最大宽度为 1500px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第三个标题的自定义样式 */
.new-custom-title-4 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 180px;
}

/* 新的 6 个图片水平排列的容器样式 */
.new-six-images-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin: 10px 10px; /* 与上方图片的外边距保持一致 */
    box-sizing: border-box; 
}

.new-six-images-container img {
    border-radius: 10px; 
    box-sizing: border-box; 
    width: calc((100% - 100px) / 6); /* 考虑 5 个图片间距，计算每个图片的宽度 */
    max-width: 100%;
    height: auto;
    transition: filter 0.3s ease, transform 0.3s ease; /* 添加 transform 过渡效果 */
    margin: 0; /* 重置图片自身的外边距，由容器统一控制 */
}

/* 添加鼠标悬停时的放大效果 */
.new-six-images-container img:hover {
    transform: scale(1.05); /* 放大 5% */
}

.image-section-title:nth-child(12) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1100px; /* 设置最大宽度为 1100px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第二个标题的自定义样式 */
.neng-custom-title-4 {
    font-size: 32px;
    margin-top: 180px;
    margin-bottom: 60px;
}
.image-section-title:nth-child(13) h2 {
    margin: 0; /* 去除默认的外边距 */
    color: white; /* 设置标题文字颜色为白色 */
    max-width: 1500px; /* 设置最大宽度为 1500px */
    word-wrap: break-word; /* 允许单词内换行 */
}
/* 第三个标题的自定义样式 */
.neng-custom-title-5 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 90px;
}
/* 三列文本容器样式 */
.three-column-text-container {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr; /* 第一个列比例最大，后三列相同 */
    gap: 20px; /* 列之间的间距 */
    margin-top: 60px; /* 与上方元素的间距 */
    color: white; /* 文本颜色 */
    width: 1500px; /* 初始宽度 */
    max-width: 1500px; /* 最大宽度限制 */
    justify-content: start; /* 确保网格左对齐 */
    margin-right: auto; /* 确保容器左对齐 */
}

/* 媒体查询：在小屏幕上调整样式 */
@media (max-width: 1500px) {
    .three-column-text-container {
        width: 90%; /* 小屏幕上宽度占父元素的 90% */
        max-width: 90%; /* 小屏幕上最大宽度占父元素的 90% */
    }
}

/* 媒体查询：在更小屏幕上调整样式 */
@media (max-width: 768px) {
    .three-column-text-container {
        grid-template-columns: 1fr; /* 小屏幕上改为单列布局 */
    }
}
/* 列样式 */
.column {
    /* 可根据需要添加更多样式 */
}
/* 第三列样式 */
.third-column {
    word-wrap: break-word; /* 允许单词内换行 */
    word-break: break-all; /* 强制换行 */
}
.three-column-text-container p {
    font-family: 'MyChineseFont', sans-serif;
}

/* 指定 new-title-1 到 new-title-5 的字体 */
.new-title-1,
.new-title-2,
.new-title-3,
.new-title-4,
.new-title-5 {
    font-family: "MyChineseFont", sans-serif; /* 这里指定为 Arial 字体，你可以根据需要修改 */
}
.square-images-container,
.new-six-images-container,
.three-column-text-container p {
    font-family: 'MyChineseFont', sans-serif;
}
/* 鼠标放上去颜色 */
.custom-bold {
    font-weight: bold;
    /* 在这里添加你想要的自定义样式，例如字体颜色、大小等 */
    color: #f30909; 
    font-size: 48px;
}

/* 字符从下面出现的动画 */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 应用动画的类 */
.slide-up-char {
    display: inline-block;
    animation: slide-up 0.3s ease forwards;
    opacity: 0;
}



